body {
    background-color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

#title {
    display: flex;
    background-color: dodgerblue;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#stage {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#sidebar {
    display: flex;
    padding: 10px;
    background-color: lightgray;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 20%;
    height: 100vh;
}

#request-status {
    text-align: center;
}

#divisions-selector {
    display: flex;
    background-color: lightgray;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.sidebar-title {
    margin: 0;
}

#data-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#tournament-info {
    width: 100%;
}

#tournament-name {
    text-align: center;
}

#tournament-date-location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#tournament-date {
    text-align: center;
    min-width: 250px;
    width: 25%;
}

#tournament-location {
    text-align: center;
    min-width: 250px;
    width: 25%;
}

#player-statistics {
    width: 100%;
}

#player-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#player-name {
    text-align: center;
    min-width: 250px;
    width: 25%;
}

#player-location {
    text-align: center;
    min-width: 250px;
    width: 25%;
}

#stat-wheels-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#to-par-rates {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#adv-par-rates {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#split-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#distance-stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#by-par-stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.stat-wheel {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat-wheel-ring {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 10px;
}

.stat-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: white;
}

.stats-wrapper {
    display: flex;
    flex-direction: row;
}

.stat-stat {
    font-size: small;
    padding: 0;
}

.stat-stat-top {
    vertical-align: bottom;
}

.stat-stat-bottom {
    vertical-align: top;
}

#player-results {
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#results-table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid black;
}

.table-header-data {
    text-align: center;
    background-color: dodgerblue;
    padding: 3px;
    border: 1px solid black;
}

.table-data {
    text-align: center;
    border: 1px solid black;
}

.table-row {
    border: 1px solid black;
}

.table-row-even {
    background-color: white;
}

.table-row-odd {
    background-color: lightgrey;
}
